.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-bottom: 50px;
}
.AppLogo {
  height: 192px;
  width: 478px;
}
.AppTitle {
  height: 227px;
  width: 349px;
}
.AppDemo {
  height: 286px;
  width: 671px;
}
.UploadButton {
  cursor: pointer;
  margin-top: 25px;
  background-size: 363px;
  height: 57px;
  width: 363px;
  background-color: transparent;
  background-image: url('../public/img/upload.png');
  border: none;
}
.DownloadButton {
  cursor: pointer;
  background-image: url('../public/img/download.png');
  width: 365px;
  height: 56px;
  border: none;
  background-size: cover;
  background-color: transparent;
  margin-top: 25px;
}
.PreviewImage {
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 260px;
  border: 5px solid #000000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.PreviewNotch {
  position: absolute;
  width: 55px;
  height: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 173px;
  background-color: #000000;
  z-index: 5;
}
.PreviewBar {
  position: absolute;;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #000000;
}
.OpacityRow {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  color: #2a3030;
  font-family: "Permanent Marker";
}
.OpacityRow label {
  font-size: 26px;
  margin-top: 8px;
}
.OpacitySetting {
  color: #2a3030;
  padding: 10px 10px 10px 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 26px;
  border-radius: 15px;
  border: none;
  width: 65px;
  text-align: center;
  background: transparent;
  font-family: "Permanent Marker";
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: .5;
}
h1 {
  color: #2a3030;
  font-family: 'Permanent Marker';
  text-align: center;
}
header {
  display: flex;
  max-width: calc(100vw);
}
header img {
  margin: 25px;
}
img {
  transition: transform 1s;
}
body {
  background-image: url('../public/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}
@media only screen and (max-width : 940px) {
  .App {
    max-width: calc(100vw - 50px);
  }
}
@media only screen and (max-width : 907px) {
  .App {
    max-width: calc(100vw - 80px);
  }
}
@media only screen and (max-width : 885px) {
  img {
    transform: scale(.8);
  }
}
@media only screen and (max-width : 825px) {
  header img {
    margin: 0;
  }
}
@media only screen and (max-width : 810px) {
  .App {
    max-width: calc(100vw - 70px);
  }
}
@media only screen and (max-width : 770px) {
  .AppTitle {
    margin-left: -50px;
  }

}
@media only screen and (max-width : 720px) {
  img {
    transform: scale(.6);
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  .AppLogo {
    margin-left: -160px;
  }
  .AppTitle {
    margin-top: -120px;
    margin-right: -420px;
  }
  .AppDemo {
    transform: scale(.8);
    margin-top: -60px;
    margin-right: -50px
  }
  .UploadButton {
    margin-top: -10px;
    margin-right: -50px
  }
}
@media only screen and (max-width : 500px) {
  .AppLogo {
    margin-left: -10px;
  }
  .AppTitle {
    margin-left: -160px;
  }
  .AppDemo {
    max-width: calc(100vw * 2 - 150px);
    margin-left: 70px;
    margin-right: 0px;
    transform: scale(.6)
  }
  .UploadButton {
    margin-left: 20px;
  }
}