body {
  background-image: url('../public/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}
#root {
  min-height: calc(80vh)
}
#made-by a, #made-by a:visited {
  color: #86d6df !important;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: left;
  font-family: "Bebas Neue";
  text-decoration:  none;
}
