#root {
  min-height: calc(95vh)
}
#made-by {
  color: #86d6df;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: left;
  font-family: 'Permanent Marker'
}
#made-by a {
  color: #86d6df;
  text-decoration: none;
}
